#nav{
    display: flex;
    justify-content: space-between;
}

#right-site{
    display: flex;
}


.board-container{
    width: 90%;
    margin: 2vh auto;
}
.board-header{
    display: flex;
    background-color: pink;
    justify-content: space-between;
}
.board-header button{
    border: none;
    background-color: transparent;
}
.board-header button:focus {
    outline: none;
}
.board{
    display: flex;
    justify-content: space-between;
}
.btn-default {
    background-color: plum;
    color:#FFF;
    border-color: plum;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color: purple;
    color:#FFF;
    border-color: purple;
}


.hidden{
    visibility: hidden;
}
