#nav{
    display: flex;
    justify-content: space-between;
}

#login-status{
    display: flex;
    margin: 4px;
    padding-right: 2px;
}

#right-site{
    display: flex;
}


.board-container{
    width: 90%;
    margin: 2vh auto;
}
.board-header{
    display: flex;
    background-color: pink;
    justify-content: space-between;
}
.column-header{
    margin-bottom: 1vh;
    border-bottom: 1px solid black;
    text-align: center;
}
.board-header .board-title{
    cursor: pointer;
}
.board-header button{
    border: none;
    background-color: transparent;
}
.board-header button:focus {
    outline: none;
}
.board{
    display: flex;
    justify-content: space-between;
}
.board-header-up-icon{
    background-image: url("arrow-up.png");
}
.btn-default {
    background-color: plum;
    color:#FFF;
    border-color: plum;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color: purple;
    color:#FFF;
    border-color: purple;
}
.card{
    cursor: pointer;
}
.card-edit-box{
    display: flex;
}

.hidden{
    visibility: hidden;
}

